body {
  background: #000;
  margin: 0;
  padding: 0;
}

/* XXX The translate -100,-150 moves the center of each element to 0,0.  transform-origin
 * at 50% 50% should take care of that, but I'm not sure why it's not.  (It transforms
 * by half the width/height).
 */
#pane1 {
  transform: translate(-50%, -50%) translate3d(0, -100px, -800px);
  /*width: 320px;
  height: 480px;*/
}

.seats {
  height: 100px;
  width: 1400px;
  background: url('../images/seat.png') repeat-x transparent;
}
.row1 {
  transform: translate(-50%, -50%) translate3d(0, -50px, 650px);
}
.row2 {
  transform: translate(-50%, -50%) translate3d(0, 0px, 400px);
}
.row3 {
  transform: translate(-50%, -50%) translate3d(0, 50px, 150px);
}
.row4 {
  transform: translate(-50%, -50%) translate3d(0, 100px, -100px);
}
.row5 {
  transform: translate(-50%, -50%) translate3d(0, 150px, -350px);
}
.row6 {
  transform: translate(-50%, -50%) translate3d(0, 200px, -600px);
}
.row7 {
  transform: translate(-50%, -50%) translate3d(0, 250px, -850px);
}
.row8 {
  transform: translate(-50%, -50%) translate3d(0, 300px, -1100px);
}
.exit {
  transform: rotateY(90deg) scale(.8,1) translate3d(150px,0,-800px);
  color: #0f0;
  font-family: sans-serif;
  text-shadow: 0 0 3px #0f0, 0 0 4px #0f0, 0 0 5px #0f0, 0 0 6px #0f0;
}
.projector {
  width: 72px;
  height: 30px;
  background: #888;
  box-shadow: 0 2px 10px rgba(255,255,255,.5), 0 4px 20px rgba(255,255,255,.5), 0 2px 30px rgba(255,255,255,.5), 0 2px 40px rgba(255,255,255,.5);
  transform: translate3d(0,-500px,1200px);
  animation: .005s flicker linear infinite alternate;
  animation-timing-function: steps(2, end);
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  to {
    opacity: .8;
  }
}
